{{!-- our vault animation goes here --}}
<div id="animation-container">
     <img class="freezeframe" src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExZjFiNWU2ZDZmM2M0MTNhMjA3ZmUwNjJkZDVkOTk3NmJjYjRjODIyMiZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/dCA4UzPBpqskwOPlE8/giphy.gif" 
     alt="The vault opening for access" id="gif">
</div>
<script src="/JS/animation.js"></script>




