<div class="container">
 <style id="test">
        body {
    background-image: url("/assets/test_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
    </style>
    <div class="row mx-auto d-flex align-items-center min-vh-100">
        <div class="col-sm-6 col-md-offset-3 mx-auto" id="log-sign">
            <br>
            <h2 class="vault-title">Welcome to</h2>
            <h2 class="vault-title2">The Vault</h2>
            <label for="exampleInputEmail" class="email-text">Email:</label>
            <input type="email" class="email-text-input" placeholder="enter email">
            <div>
            <label for="exampleInputPassword1" class="password-text">Master Password:</label>
            <input type="password" class="password-text-input" placeholder="enter password">
            </div>
            <form class="login">
                <br>
                <button type="submit" class="btn-light test-btn" style="margin-left: 8px" id="login-btn">Open Vault</button>
              </form>
              <div class="d-flex justify-content-center flex-column align-items-center">
  <p class="signup_text">First time here? Click below to sign up!</p>
  <div class="text-center">
    <button type="button" class="btn btn-primary" id="activate-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Activate My Vault!
    </button>
  </div>
</div>
<img src="">
            <br/>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Activate My Vault!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
        <div class="form-group">
    <label for="account-name" class="modalText">Username:</label>
    <input type="text" class="form-control" id="account-name" aria-describedby="emailHelp" placeholder="ex. dev4">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1"class="modalText">Email:</label>
    <input type="e-mail" class="form-control" id="e-mail" aria-describedby="emailHelp" placeholder="ex. dev4@email.com">
  </div>
  <div class="form-group">
    <label for="password" class="modalText">Master Password or Passphrase:</label>
    <input type="password" class="form-control" id="password" placeholder="ex. devn2thevault!">
  </div>
     </div>
        <div class="modal-footer">
          <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
          <button type="button" id="account-signup" class="add-acct-btn">Add Account</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

<footer class="copyright has-background-black" id="copyright">&copy; The Vault 2023</footer>
<script src="./JS/index.js"></script>
